.moneyDiv {display: flex; flex-direction: row; align-items: center; gap: 10px;}
.userInput > * {height: 3vh;}
.inputMaxNumber {width: 30vw;}
.setAmountMaxNumber {display: none; width: 40px;}

.setAmountPlus, .setAmountMinus{width: 20px; height: 20px;}